/*===================
    Root Selection 
====================*/
:root{
  --white-color: #fff;
  --off-color: #EFF8FB;
  --blue-color: #0A0A2A;
  --red-color: #DF013A;
}

*{
  margin: 0;
}

/*===================
    Container
====================*/
.container{
 height:100vh;
}
@media screen and (max-width: 550px){
  .container{
    height: 100%;
  }
}
.axis-50{
  height: 50vh;
  align-items: center;
  display: flex;
  justify-content: center;
}
.off{
  background-color: var(--off-color);
}
.white{
  background-color: var(--white-color);
}
.red{
  background-color: var(--red-color);
  color: white;
}
.red-font{
  color: var(--red-color)
}
.blue{
  background-color: var(--blue-color);
  color: white;
}
.star{
  padding-bottom: 15%;
}

/*======================
     Body Part -- 1
=======================*/
.content{
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: auto;
}
.ct-padding{
  padding: 10% 5%;
}

@media screen and (max-width: 550px){
  .content{
    flex-direction: column;
  }
}

.margin{
  margin: 0 5%;

}
.right img{
  width: 90%;
}
@media screen and (max-width: 550px){
  .right img{
    width: 70%;
    padding: 9% 0;
  }
}

.left h1{
  color: var(--blue-color);
  font-size: 40px;
}
.left p{
  font-size: 20px;
  padding: 25px 0;
  font-family: sans-serif;
}

/*===================
      Buttons
====================*/
.btn{
  border: none;
  border-radius: 4px;
  width: 180px;
  height: 40px;
  font-size: 19px;
}

.nevbtn{
  display: none;
}

/*===================
    Nevigation bar
====================*/
.navbar{
  height: 65px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--off-color);
}
.navbar img{
  margin-left: 25px;
}

.navbar ul li{
  display: inline;
  list-style: none;
  padding-right: 15px;
  font-size: 15px;
}
.navbar ul li a{
  text-decoration: none;
  color: black;
}


/*=========================
     @media Quaree
==========================*/

@media screen and (max-width: 550px){

.navbar{
  height: 65px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background-color: var(--off-color);
}
.nav{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 10px;
}
.nevbtn{
  position: relative;
  right: 24px;
  cursor: pointer;
  display: block;
  height: 35px;
  width: 50px;
  font-size: 30px;
  border: none;
}
.nevigation{
  height: 100%;
  width: 100%;
  display: none;
  position: absolute;
  background-color: pink;
  align-items: content;
}
.navbar img{
  margin-left: 25px;
  width: 45px;
}

.navbar ul {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.navbar ul li{
  display: block;
  list-style: none;
  padding: 15px;
  font-size: 20px;
}
.navbar ul li a{
  text-decoration: none;
  color: black;
}

.close{
  float: right;
  background-color: pink;
  border: none;
  top: 35px;
  padding: 9px;
}
  
}



/*======================
     Body Part -- 2
=======================*/
.text-aligner{
  
  padding: 5% 5%;

  text-align: center;
  
}
.text-aligner img{
  width: 10%;
}
.text-aligner a{
  font-size: 30px;
  padding: 9px;
  color: var(--white-color);
}
/*=========================
     Grid -- 1
==========================*/
.features{
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 100px 100px;
  grid-row-gap: 20px;
  
  grid-template-areas: 
     "ct1 img ct4"
     "ct2 img ct5"
     "ct3 img ct6";
     
     
}

/*=========================
     @media Quaree
==========================*/

@media screen and (max-width: 550px){
  .features{
    grid-template-columns: 1fr;
    grid-template-rows: 100px 100px 100px 300px 100px 100px 100px;
    
    grid-template-areas: 
     "ct1"
     "ct2"
     "ct3"
     "img"
     "ct4"
     "ct5"
     "ct6";
  }
  .grid-img{
    
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
}

.grid-img{
  grid-area: img;
  align-items: center;
  transform: translateY(-25px)
}



/*=========================
     Grid-Content -- 1
==========================*/
.grid-img img{
  width:100%;
  position: relative;
  top:25px;
  padding: 9px 9px;
}
.grid-content-1{
  width: 250px;
  margin-top: 5%;
}
.grid-content-1 img{
  width: 30px;
  float: right;
}
.content-img-3{
  padding: 5% 0;
}
.content-img-3 img{
  width: 40%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

/*=========================
     Grid -- 2
==========================*/
.tech-space{
  display: grid;
  position: relative;
  right: 20%;
  transform: translateX(20%);
  grid-gap: 25px;
  grid-template-columns: 225px 225px;
}

@media screen and (max-width: 550px){
  .tech-space{
    grid-template-columns: 225px;
    right: 32%;
    transform: translateX(50%);
  }
}

/*=========================
     Grid-Content -- 2
==========================*/

.grig-content-2 img{
  width: 50px;
  padding: 25px;
  
}
.grig-content-2{
  border: 2px solid gray;
  padding: 9px;
  text-align: center;
  align-items: center;
  cursor: pointer;
}
.grig-content-2:hover{
  background-color: var(--red-color);
  transition: 1s;
}

/*=========================
     Grid -- 3
==========================*/
.buyer-info{
  display: grid;
  grid-gap: 35px;
  grid-template-rows: 460px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (max-width: 550px){
  .buyer-info{
    grid-template-columns: 1fr;
  }
}

.grid-buyer img{
  width: 65px;
}
.grid-buyer{
  background-color: var(--white-color);
  border-radius: 5px;
  padding: 20% 5px;
}

/*=========================
     Pricing Section 
==========================*/
.pricing-feedback img{
  width: 100px;
}

.pricing-content{
  border: 2px solid var(--red-color);
  display: grid;
  place-items: center;
  grid-template-rows: 0.5fr;
  grid-template-columns: 1fr 1fr;
}
@media screen and (max-width: 550px){
  .pricing-content{
    grid-template-rows: 0.5fr 0.5fr;
    grid-template-columns: 1fr;
  }
}

.pricing-feedback{
  background-color: var(--red-color);
  align-items: center;
  padding: 3%;
  
}

.pricing-feedback p{
  padding: 5%;
}
.pricing-price{
  padding: 7%;
  font-size: 20px;
}
.question-grid{
  font-size: small;
  padding-left: 4%;
  display: grid;
  grid-gap: 35px;
  grid-template-rows: 140px 140px;
  grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 550px){
  .question-grid{
    grid-template-rows: 0.5fr 0.5fr;
    grid-template-columns: 1fr;
  }
}


.z{
  font-size: 25px;
}
.input{
  width: 98%;
  height: 25px;
  margin-top: 5%;
}
.comment{
  height: 75px;
}


@media screen and (max-width: 550px){
  .input{
    width: 85%;
  }
  .contructus{
    padding-left: 9%;
  }
}

